/* Include basic */
@import url("vars.css");
@import url("reboot.min.css");

/* Include components */
@import url("components/header.css");
@import url("components/footer.css");

/* Important style */
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: var(--ff-inter);
	background-color: var(--craft-bg-color);
	scroll-behavior: smooth;
	
}

html {
  scroll-behavior: smooth;
}

body.lock {
	overflow: hidden;
}
