/* Include basic */
@import url("vars.css");
@import url("reboot.min.css");

/* Include components */
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/age-confirm.css");
@import url("components/index.wine-types.css");
@import url("components/index.wine-special.css");
@import url("components/award-wines.css");
@import url("components/index.traditional-wine.css");
@import url("components/craft-wine.css");
@import url("components/index.video-history.css");
@import url("components/index.wine-categories.css");
@import url("components/index.wines-blog.css");
@import url("components/index.faq.css");
@import url('components/slider-wines.css');
@import url("components/index.footer-form.css");
@import url("components/header-banner.css");
@import url("components/under-age.css");
@import url("components/global.popup-basket.css");


@import url("components/index.popup-basket.css");
@import url("components/index.popup-basket-empty.css");
/* Important style */
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: var(--ff-inter);
	background-color: var(--craft-bg-color);
	scroll-behavior: smooth;
	
}