/* Include basic */
@import url("vars.css");
@import url("reboot.min.css");

/* Include components */
@import url("components/header.css");
@import url("components/age-confirm.css");
@import url("components/index.wine-types.css");
@import url("components/award-wines.css");
@import url("components/traditional-wine.css");
@import url("components/craft-wine.css");
@import url("components/index.video-history.css");
@import url("components/index.promo-discounts.css");
@import url("components/index.wine-categories.css");
@import url("components/index.wines-blog.css");

@import url("components/header-banner.css");

@import url("components/global.popup-basket.css");
/* Important style */
.container {
	max-width: 1170px;
	margin: 0 auto;
}