@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --craft-bg-color: #261e1c; /* Темний фон, базовий колір секції */
    --craft-text-color: #ffffff; /* Основний білий текст */

    --craft-accent-color: #c8693a; /* Помаранчевий акцент — колір кнопок і підзаголовків */
    --craft-accent-hover-color: rgb(175, 87, 43); /* Темніший варіант акценту для hover-ефекту */
    --craft-text-grey: #898082; /* Сірий текст для другорядної інформації */
    --regular-text-color: #898082; 
    --ff-kumbh: "Kumbh+Sans", sans-serif;
    --ff-title: "Prata", serif;
    --ff-regular: "Rubik", sans-serif;
    --ff-inter: "Inter", sans-serif; /* incorrect naming*/
    --ff-great-vibes: "Great Vibes", cursive;
    --fw-regular: 400; /* redundant */
    --fw-medium: 500; /* redundant */
    --fw-semi-bold: 600; /* redundant */
    --fw-bold: 700; /* redundant */
    --footer-bg-color: #1a1512;
    --awards-text-color: gray;
}