<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<!--     <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.age-confirm.pratitial.html"
    ></section> -->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main>
        <img src="img/blog/blog-img-second.jpg" alt="Second Blog">
        <p>3 Oct 2025</p>
        <h1>Why Hasn’t Anyone Bought Quartz Reef Yet?</h1>
        <p>hile I primarily focus on the sensorial aspects of the wine world, I also pay attention to the business side of the industry, both here in California and abroad. Consequently, news of wineries changing hands has become commonplace, especially in these more challenging times for the wine industry.</p>
        <p>I’m sure wineries position themselves for sale around the world with regularity, and some must fail to find buyers for various reasons. But I would never expect one of the world’s better-known and extremely high-quality wineries to stay on the market for long.</p>
        <p>Yet that is precisely what is happening with Quartz Reef Winery in New Zealand’s Central Otago region.</p>
        <p>Put on the market in July, the 31-hectare (76-acre) property with 61.3 acres of vines has been making beautiful Pinot Noirs, aromatic white wines, and unquestionably New Zealand’s best sparkling wines for decades under the visionary direction of winemaker Rudi Bauer.</p>
    </main>
     <footer class="footer">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer-form.partial.html"
      ></section>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></div>
    </footer>
  </body>
</html>