<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<!--     <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.age-confirm.pratitial.html"
    ></section> -->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main>
        <img src="img/blog/blog-img-first.jpg" alt="First Blog">
        <p>6 Oct 2025</p>
        <h1>Have Dinner with Jancis Robinson</h1>
        <p>She’s been called the world’s most respected wine critic. She’s the author of not one, but three of the wine world’s most important reference books. She’s an Officer of the British Empire and advises the British Royal Family on their wine cellar. And she’s one of the few mononymous people in wine. To most, she’s just Jancis: a towering figure in the world of wine that needs little introduction. To me, she’s a boss, collaborator, and friend.</p>
        <p>And on October 30th, she’s inviting you to have dinner with her in San Francisco.</p>
        <p>To celebrate the 25th Anniversary of her website, JancisRobinson.Com, she’s buying out in San Francisco, and hosting a dinner for 40 in conjunction with sommelier and restaurateur Paul Einbund and his chef Gavin Schmidt.</p>
    </main>
     <footer class="footer">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer-form.partial.html"
      ></section>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></div>
    </footer>
  </body>
</html>