<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<!--     <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.age-confirm.pratitial.html"
    ></section> -->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main>
        <img src="img/blog/blog-img-third.jpg" alt="Fird Blog">
        <p>2 Oct 2025</p>
        <h1>Tasting Notes from Hella Chenin</h1>
        <p>You’d be hard pressed to find someone more excited than I about the ascendancy of Chenin Blanc from obscurity to—well, let’s face it—marginally well-known alternative white wine. Chenin finally seems to be having a moment. While that doesn’t mean thousands of acres are going into the ground in California (we have less than 4,000 now) nor that distributors can’t keep their Saumur Blanc in stock (we can only dream that Chenin becomes the next Sancerre), there are an awful lot more stories about Chenin Blanc in the wine press than ever before. And hopefully that will eventually translate into more bottles sold and opened.</p>
       </main>
     <footer class="footer">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer-form.partial.html"
      ></section>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></div>
    </footer>
  </body>
</html>