<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<!--     <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.age-confirm.pratitial.html"
    ></section> -->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>

    <main class="main">
      <section
        class="traditional-wine"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.traditional-wine.partial.html"
      ></section>
            <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.video-history.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.wine-categories.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.promo-discounts.partial.html"
      ></section>
      <section
        class="awards-wines"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.awards-wines.partial.html"
      ></section>
      <section
        class="faq"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.faq.partial.html"
      ></section>
    </main>
    <footer class="footer">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer-forma.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></div>
    </footer>
  </body>
</html>
