<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaliWines</title>
    <link rel="stylesheet" href="css/order-success.css" />
    <link rel="icon" href="icons/common/favicon.png" type="image/png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      class="header"
      data-hx-trigger="load"
      data-hx-swap="innerHTML"
      data-hx-get="global.header-nav.partial.html"
    ></header>
    <main>
      <br /><br /><br /><br /><br />
      <section class="order-success">
        <div class="order-details">
          <div class="order-number">#000001</div>
          <div class="order-items">
            <div class="order-item">
              <img
                src="/img/craft-wines/craft-wines-pinot-noir.jpg"
                alt="Pinot Noir"
              />
              <div class="item-details">
                <h3>Pinot Noir</h3>
                <div class="item-quantity">1x</div>
                <div class="item-price">12.00USD</div>
              </div>
            </div>
            <div class="order-total">Total: 12.00USD</div>
          </div>
        </div>
        <div class="customer-details">
          <h2>Customer details</h2>
          <div class="customer-info">
            <div class="info-row">
              <span class="label">Name:</span>
              <span class="value">Name</span>
            </div>
            <div class="info-row">
              <span class="label">Email:</span>
              <span class="value">Email@gmail.com</span>
            </div>
            <div class="info-row">
              <span class="label">Phone:</span>
              <span class="value">+380110110011</span>
            </div>
            <div class="info-row">
              <span class="label">Comment:</span>
              <span class="value"></span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></div>
    </footer>
    <script src="js/order-success.js"></script>
  </body>
</html>
