.age-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.age-confirm__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.age-confirm__popup {
  color: #fff;
  position: relative;
  background-color: #251e1c;
  height: auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  display: flex;
  gap: 60px;
  flex-direction: column;
  padding: 80px 120px;
  justify-content: center;
  align-items: center;
}

.age-confirm__buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}

.age-confirm__accept,
.age-confirm__decline {
  display: block;
  padding: 0 4%;
  text-align: center;
}

.age-confirm__description {
  font-family: var(--ff-regular);
  text-align: center;
}

.age-confirm__heading {
  font-family: var(--ff-title);
  font-size: 32px;
  text-align: center;
}
.btn-orng {
  display: flex;
  min-width: 125px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--craft-accent-color);
  font-family: var(--ff-regular);
  font-weight: 700;
  font-size: 16.5px;
  transition: 0.5s;
  border-radius: 1px;
  cursor: pointer;
}
.btn-orng:hover {
  background-color: #a34c21;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}
.btn-white {
  
  display: flex;
  min-width: 125px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  font-family: var(--ff-regular);
  font-weight: 700;
  font-size: 16.5px;
  border: 2px solid #fff;
  transition: 0.5s;
  border-radius: 1px;
  cursor: pointer;
}

.btn-white:hover {
  background-color: #ffffff;
  transition: 0.5s;
  color: black;
  text-decoration: none;
}
.glb__a--hover:hover{
  color: #c8693a;
  transition: 0.5s;
}
.glb__a-more--hover:hover{
  text-decoration: underline;
  transition: 0.5s;
}