.awards {
    color: #c8693a;
    font-style: italic;
    font-family: 'Great Vibes', undefined;
    font-size: 28px;
    text-align: center;
}
.awards-wines__title {
   color: black;
   font-family: Prata, serif; 
   font-size: 48px;
   text-align: center;
}