.awards-wine {
    background: #261e1c;
    padding: 0 5px;
   
}
.awards {
    color: #c8693a;
    font-style: italic;
    font-family: 'Great Vibes', undefined;
    font-size: 28px;
    text-align: center;
}
.awards-wines__title {
   color: white;
   font-family: Prata, serif; 
   font-size: 48px;
   text-align: center;
}
.awards-ornament {
    display: block;
    margin: 20px auto;
}
.awards-title {
    color: white;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    text-align: center;
}
.awards-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 5px;
     img {
        width: 138px;
        height: auto;
        padding: auto 5px;
    }
    @media (max-width: 600px) {
     img {
        width: 100%;
        height: auto;
        max-width: 600px;
        }
    }
    h3 {
        font-family: Rubik, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    } 
} 
.year {
    font-family: Prata, serif;
    font-size: 22px;
    color: white;
    text-align: center;
}
.awards-text {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    color: grey;
    text-align: left;
}