.footer {
  background-color: var(--footer-bg-color);
  color: var(--craft-text-color);

  ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 765px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      /* padding: 40px 0; */
    }

    .footer__menu-title {
      font-family: var(--ff-title);
      font-size: 22px;
      line-height: 32px;
      font-weight: regular;
    }

    .footer__social-list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .footer__submenu--images {
        display: flex;
        gap: 20px;
    }

    .footer__link, .footer__address {
        color: var(--regular-text-color);

        &:hover {
            color: var(--craft-accent-color);
        }

        font-family: var(--ff-regular);
        font-size: 14px;
        font-weight: medium;
        line-height: normal;
    }
  }
}
