.footer {
  background-color: var(--footer-bg-color);
  color: var(--craft-text-color);

  ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 765px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
      padding-top: 60px;
      padding-bottom: 60px;

      .footer__menu-item:last-child {
        flex: 1 1 20%;
        max-width: 25%;

        .footer__submenu-images {
          justify-content: flex-start;
        }
      }
    }

    .footer__menu-title {
      font-family: var(--ff-title);
      font-size: 22px;
      line-height: 32px;
      font-weight: regular;
    }

    .footer__divider {
      border: none;
      height: 2px;
      background: var(--craft-accent-color);
      margin: 15px 0;
      width: 4vw;
    }

    .footer__submenu:not(.footer__submenu-images) {
      .footer__submenu-item:not(:first-child) {
        margin-top: 20px;
      }
    }

    .footer__social-list {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .footer__social-link {
        color: var(--craft-accent-color);
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;

        .outlined_2wD {
          max-width: 100%;
          .outer_bDW {
            fill: currentColor;
            color: transparent;
          }

          &:hover {
            .outer_bDW {
              color: inherit;
            }
          }

          .border_2yy {
            fill: currentColor;
            color: var(--craft-accent-color);
          }

          .logo_2gS {
            fill: currentColor;
          }

          &:hover {
            .logo_2gS {
              color: transparent;
            }
          }
        }
      }
    }

    .footer__submenu-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .footer__submenu-item {
        max-width: 28%;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }

    .footer__link,
    .footer__address {
      color: var(--regular-text-color);

      &:hover {
        color: var(--craft-accent-color);
      }

      font-family: var(--ff-regular);
      font-size: 14px;
      font-weight: medium;
      line-height: normal;
    }
  }
}
