.wine-special{
    justify-self: center;
    padding: 90px 20px 20px 20px;
    background-color: var(--craft-bg-color);
}

.wine-special__legend{
    font-family: var(--ff-great-vibes);
    font-size: 14px;
    color: var(--craft-accent-color);
}

.wine-special_winebranch{
    padding: 20px 0px 0px 0px;
}

.wine-special__title{
    font-family:var(--ff-title);
    font-size: 34px;
    color: white;
}

.wine-special__description{
    font-family: var(--ff-regular);
    font-size: 18px;
    color: white;
    padding: 20px 0px 0px 0px;
}

.wine-special__advantage_title{
    font-family: var(--ff-title);
    color: white;
    font-size: 22px;
}

.wine-special__advantage_text{
    font-family: var(--ff-regular);
    color: var(--craft-text-grey);
    font-size: 16;
}

.wine-special__advantage > svg {
  width: clamp(20px, 13%, 13%);
  min-width: 20px;
  max-width: 8%;
  height: 32px;
  display: block;
}

.wine-special__outerblock {
    display: grid;
    justify-self: center;
    gap: 25px;
    min-width: 320px;
}

.wine-special__advantage{
    padding: 25px;;
  }

.wine-special__bottle {
        /* path relative to this CSS file (css/components/) */
        background-image: url("../../img/wine-special/wine-bottle.png");
        background-size: contain; 
        background-position: center center; 
        background-repeat: no-repeat;
        min-width: 320px; 
        width: 100%;
        aspect-ratio: 2 / 3;
        height: auto;
}

@media (min-width: 767px){
  .wine-special__outerblock {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
 .wine-special__bottle {
    grid-row: 1 / 4;
    justify-self: center;
  }
  .wine-special__advantage{
    max-width: 370px;
  }
}


