.faq {
  background-color: var(--craft-bg-color);
  padding: max(30px, 7vh) 0;
}

.faq__container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 0 max(5px, 1%);
}

@media (max-width: 1000px) {
  .faq__container {
    flex-direction: column;
  }
}

.faq__container img {
  margin-bottom: 20px;
}

.faq__fancy-text {
  color: var(--craft-accent-color);
  font-family: "Great Vibes", sans-serif;
  font-size: clamp(0.8rem, 2.5vw, 2rem);
}

.faq__text-container {
  width: 60%;
}

@media (max-width: 1000px) {
  .faq__text-container {
    width: 100%;
    padding: 0 5%;
  }
}

.faq__text-container h2 {
  color: var(--craft-text-color);
  font-weight: 500;
  font-family: Prata, serif;
  font-size: clamp(2rem, 3vw, 6rem);
  margin-bottom: 20px;
}

.accordion {
  width: 100%;
}

.accordion__item {
  border-bottom: 1px solid #514b49;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.accordion__item button {
  padding: 18px 0;
  width: 100%;
  border: none;
  background-color: var(--craft-bg-color);
  color: var(--craft-text-color);
  font-weight: 500;
  font-family: Prata, serif;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: left;
}

.accordion__item .accordion__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion__item .accordion__button:focus {
  outline: none;
}

.accordion__item span.accordion__icon {
  color: var(--craft-text-color);
  font-weight: 500;
  font-family: Prata, serif;
}

.faq__img-container {
  width: 40%;
}

@media (max-width: 1000px) {
  .faq__img-container {
    width: 100%;
    padding: 0 5%;
  }
}

.faq__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.accordion__item .accordion__icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 15px;
}

.accordion__item .accordion__icon::before,
.accordion__item .accordion__icon::after {
  content: "";
  position: absolute;
  background-color: var(--craft-text-color);
  transition: transform 0.3s ease-out;
}

.accordion__item .accordion__icon::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
}

.accordion__item .accordion__icon::after {
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion__content p {
  color: #898082;
  font-weight: 500;
  font-family: Prata, serif;
  font-size: 0.9rem;
  padding-bottom: 7px;
  padding-top: 5px;
}

.accordion__item.active .accordion__icon::after {
  transform: translateX(-50%) scaleY(0);
}
