.wine-types {
  padding: 90px 20px 20px 20px;
  background-color: var(--craft-bg-color);
  display: grid;
  justify-content: center;
  gap: 25px;
  min-width: 320px;
}

.wine-types > .wine-types__events,
.wine-types > .wine-types__organic,
.wine-types > .wine-types__selected {
  box-sizing: border-box;
  justify-self: center;
}

.wine-types__events {
  background-image: url("../../img/wine-types/event.jpeg");
}
.wine-types__organic {
  background-image: url("../../img/wine-types/organic.jpeg");
}
.wine-types__selected {
  background-image: url("../../img/wine-types/selected.jpeg");
}

.wine-types__innerbloc {
  padding: 260px 40px 40px 40px;
}

.wine-types__legend {
  font-size: 22px;
  font-family: var(--ff-title);
  color: white;
}

.wine-types__innerbloc > svg {
  width: clamp(20px, 13%, 13%);
  min-width: 20px;
  max-width: 13%;
  height: 32px;
  display: block;
}

.wine-types__description {
  font-size: 16px;
  font-family: var(--ff-regular);
  color: var(--craft-text-grey);
}

.wine-types__learn-more {
  font-size: 15px;
  font-family: var(--ff-regular);
  color: white;
  text-decoration: none;
}

.wine-types__learn-more:hover {
  text-decoration: underline;
  color: white;
}

.wine-types__learn-more svg,
.wine-types__learn-more svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  flex: 0 0 24px;
}

@media (min-width: 481px) and (max-width: 960px) {
  .wine-types {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
  .wine-types__events {
    grid-column: 1 / 3;
    justify-self: center;
  }
  .wine-types__organic {
    grid-column: 3 / 5;
    justify-self: center;
  }
  .wine-types__selected {
    grid-column: 2 / 4;
    justify-self: center;
  }
}

@media (min-width: 961px) {
  .wine-types {
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
  }
  .wine-types__events,
  .wine-types__organic,
  .wine-types__selected {
    max-width: 370px;
}