.wine-special{
    justify-self: center;
    padding: 90px 20px 20px 20px;
    background-color: var(--craft-bg-color);
}

.wine-special__legend{
    font-family: var(--ff-great-vibes);
    font-size: 14px;
    color: var(--craft-accent-color);
}

.wine-special_winebranch{
    padding: 20px 0px 0px 0px;
}

.wine-special__title{
    font-family:var(--ff-title);
    font-size: 34px;
    color: white;
}

.wine-special__description{
    font-family: var(--ff-regular);
    font-size: 18px;
    color: white;
    padding: 20px 0px 0px 0px;
}

.wine-special__advantage_title{
    font-family: var(--ff-title);
    color: white;
    font-size: 22px;
}

.wine-special__advantage_text{
    font-family: var(--ff-regular);
    color: var(--craft-text-grey);
    font-size: 16;
}

.wine-special__advantage > svg {
  width: clamp(20px, 13%, 13%);
  min-width: 20px;
  max-width: 8%;
  height: 32px;
  display: block;
}
